* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgb(238, 199, 90), rgb(241, 126, 203));
}
.slides {
    position: relative;
    display: flex;
    width: 860px;
    height: 540px;
    border: 5px solid white;

    
}
.prev {
    position: absolute;
    top: 50%;
    z-index: 2;
    left: 15%;
    cursor: pointer;
}
.next {
    position: absolute;
    top: 50%;
    z-index: 2;
    right: 15%;
    cursor: pointer;
}